 h3 {
    font-size: 1.5rem;
    line-height: 1.4;
}
.container {
  display: block;
 
}

 
  .container mat-select {
    font-size: small; /* Adjust font size */
    color: #221a1a; /* Adjust color */
    
  }
 
 
  
  
  .controls mat-form-field {
    margin-left: 8px;
    margin-bottom :auto;
    width: 70%;
    border-radius: 5px;
    height:30%;
    font-size: xx-small;
    
  }
  
  .controls {
    flex-direction: column;
  }
.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.buttons button {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #d2e1f1;
  color: #00000092;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.buttons button:hover {
  background-color: #2067b3;
}

.buttons button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 136, 242, 0.5);
}
.small-form {
    width: auto; /* Smaller width for the form fields */
    margin-left: 10px; /* Gap to the left of the form fields */
  }
  mat-form-field {
    width: auto;
  }
.buttons button:active {
  background-color: #004d99;
  
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px solid #ccc;
    pointer-events: none;
    z-index: 1000;
  }
.buttons button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
