<div id="tooltip" class="tooltip" style="opacity: 0;"></div>

<mat-grid-list cols="5" rowHeight="80" gutterSize="1px">
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <div class="scrollable-container" >
     
      
      
    </div>
  </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="2">
        <div class="scrollable-container" >
          <app-new-sparkbox-exploration (pruebaClicked)="onPruebaClicked($event)"></app-new-sparkbox-exploration>
          
          
        </div>
      </mat-grid-tile>
      
    <mat-grid-tile class="button-grid-tile" [colspan]="1" [rowspan]="3">
      <div class="scrollable-container">
        <div class="button-container">
          <h1>Seleccionar tipo de visualización</h1>
          @for (button of buttons; track button.component;) {
            
            @if(button.component === selectedButton) {
              <mat-select [(value)]="selectedOption" (selectionChange)="onOptionChange($event.value)">
                <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
              </mat-select>
                
              
            }
              
            } @empty {
            <li>There are no items.</li>
            }
            <div class="checkbox-container">
              <mat-checkbox
                [checked]="selectedCheckbox === 'eda'"
                (change)="onCheckboxChange('eda')"
              >
                EDA
              </mat-checkbox>
              <mat-checkbox
                [checked]="selectedCheckbox === 'temp'"
                (change)="onCheckboxChange('temp')"
              >
                TEMP
              </mat-checkbox>
              <mat-checkbox
                [checked]="selectedCheckbox === 'bvp'"
                (change)="onCheckboxChange('bvp')"
              >
                BVP
              </mat-checkbox>
              <mat-checkbox
                [checked]="selectedCheckbox === 'all'"
                (change)="onCheckboxChange('all')"
              >
                ALL
              </mat-checkbox>
            </div>
        </div>
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile class="pca-grid-tile"[colspan]="2" [rowspan]="3">
      <div class="scrollable-container" >
        <app-pca-visualization #pcaVisualization  [option]="selectedOption" [prueba]="selectedPrueba" [signal]="selectedCheckbox" ></app-pca-visualization>
        
        
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile class="ae-grid" [colspan]="2" [rowspan]="3">
      <div class="scrollable-container" >
        <app-ae-visualization #aeVisualization [option]="selectedOption" [prueba]="selectedPrueba" [signal]="selectedCheckbox"></app-ae-visualization>
        
        
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="6">
      <div class="scrollable-container" >
       
        
        
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="eda-grid-tile" [colspan]="2" [rowspan]="2">
      
      <div class="scrollable-container">
        
      </div>
      
    </mat-grid-tile>
    
    <mat-grid-tile class="radar-grid-tile" [colspan]="1" [rowspan]="3">
      <div class="scrollable-container">
       
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="temp-grid-tile" [colspan]="2" [rowspan]="2">
      
      <div class="scrollable-container">
        
      </div>
      
      
    </mat-grid-tile>
    <mat-grid-tile class="radars-grid-tile" [colspan]="1" [rowspan]="3">
      <div class="scrollable-container">
       
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="bvp-grid-tile" [colspan]="2" [rowspan]="2">
      
      <div class="scrollable-container">
        
      </div>
      
      
    </mat-grid-tile>
    <mat-grid-tile class="sliced-grid-tile" [colspan]="5" [rowspan]="1">
      <div class="scrollable-container">
        
      </div>
    </mat-grid-tile>
    <!-- Add more mat-grid-tile elements for additional charts -->
  </mat-grid-list>
  <app-horizon-eda-visualization></app-horizon-eda-visualization>
 
  